[submodule "DMTools/--path"]
	path = DMTools/--path
	url = https://github.com/sam-warren/DMToolsAPI.git
[submodule "DMTools/api"]
	path = DMTools/api
	url = https://github.com/sam-warren/DMToolsAPI.git
[submodule "DMTools/db"]
	path = DMTools/db
	url = https://github.com/sam-warren/DMToolsDB
